html,body {
margin: 0;
padding: 0;
height: 100%:
}
body {
  font: 14pt/1.5rem Palatino, serif;
}
a {
color: #208;
}
header.site-header {
background: #098;
/*text-align: center;*/
font-family: sans-serif;
padding: 0;
box-shadow: 1px 0px 2px rgba(0,0,0,.8);
font-size: 0.8em;
line-height: 55px;
}
header h1 {
padding: 0 0.5rem;
margin: 0;
line-height: 55px;
vertical-align: middle;
}
header nav a {
color: #fff;
}
footer nav a {
color: #777;
}
nav a {
font-family: sans-serif;
text-decoration: none;
padding: 0 1rem;}
a.current {
font-weight: bold;
}
img.site-logo {
height: 4rem;
}
/* Mini header 
.fullscreen img.site-logo { height: 2rem;}
.fullscreen nav {display: inline-block;}
.fullscreen nav a {padding: 0 0 0 1rem;}
.fullscreen header h1 { display: inline-block;}
.fullscreen header { vertical-align: middle; text-align: left;}
 becomes normal header ... */
img.site-logo { height: 2rem;}
nav {display: inline-block;}
nav a {padding: 0 0 0 1rem;}
header h1 { display: inline-block;}
header { vertical-align: middle; text-align: left;}


a.post-link {
text-decoration: none;
}

h4.post-title, h1.post-title {
font: 2rem/3rem Avenir, sans-serif;
margin: 0;
color: #322;
}

h4.post-title { font-size: 1.6rem;}
time {
color: #777;
font-style: oblique;
font-size: 0.8rem;
line-height: 1.5rem;
display: block;
}
p {
  margin: 0 0 1.5rem 0;
  max-width: 40rem;
}
ul.post-list {
list-style: none;
margin: 0;
padding: 0;
}
div.site-content {
padding: 1.5rem 3rem;
min-height: 20rem;
/*background-image: linear-gradient(#eee 1px, transparent 1px);
background-size: 100% 1.5rem;
*/
}
footer.site-footer {
background: #eee;
text-align: center;
font: .7rem/2rem sans-serif;
padding: .5rem;
box-shadow: -1px 0px 2px rgba(0,0,0,.8);
height: 2rem;
display: block;
position: fixed;
bottom: 0;
width: 100%
}
footer li {
list-style: none;
}

div.site-copy {
float: left;
width: 30%;
text-align: left;
color: #777;}
footer div.site-links {
float: right;
width: 60%;
text-align: right;
margin: 0 2rem 0 0;}

ol.pager {
padding-bottom: 1em;
list-style: none;
}
li.pager-next {
float: right;
text-align: right;
}
li.pager-prev {
float: left;
text-align: left;
}
ol.pager li {
width: 40%;
margin-top: -1em;
}
div.site {
width: 100%;
height: 100%;
bottom: 0;
position: absolute;
top: 0;
margin: 0 0 -2em 0;
padding: 0;
}
#locationMap {
float: right;
margin: 0 1rem;
border-radius: 99em;
max-width: 50%;
}

.post-content img {
max-width: 100%;
}
