<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <style>
        #map {
        height: 100%;
        }
        div.page-content {
        position:fixed;
        top: 55px;
        margin-top: 1em;
        right: 1em;
        z-index: 999;
        background: white;
        width: 20em;
        padding: 0.5em;
        box-shadow: 1pt 1pt 3pt rgba(0,0,0,0.5);
        }
        footer { display: none;}
  </style>
  <body class="fullscreen">

    <div class="site">

      {% include header.html %}

      <div class="site-content" id="map">
        <span class="mapbox-maplogo"></span>
      </div>
      <!-- site-content -->
        <div class="page-content">
            {{ content }}
        </div>
<script>
document.getElementById('map').style.height=(window.innerHeight-110) + "px";
L.mapbox.accessToken = '{{ site.mapbox_token }}';
var map = L.mapbox.map('map', 'mapbox.streets', {
    attributionControl: {position: 'topright'}
    }).setView([20, -20], 3);

// As with any other AJAX request, this technique is subject to the Same Origin Policy:
// http://en.wikipedia.org/wiki/Same_origin_policy
// So the CSV file must be on the same domain as the Javascript, or the server
// delivering it should support CORS.
var featureLayer = L.mapbox.featureLayer()
    .loadURL('{{ page.geojson }}') //'/travel/map.geojson')
    .addTo(map);

featureLayer.on('layeradd', function(e) {
    var marker = e.layer,
    feature = marker.feature;
    var content = '<a href="'+feature.properties.url+'">' + feature.properties.title + "</a>";
    marker.bindPopup(content);
});

</script>
<!--      {% include footer.html %}-->
    </div>
  </body>
</html>
